<div class="skills-container">
    <h2 class="skills-title text-center">My Skills</h2>


    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum. Fusce nec justo sit amet tortor egestas convallis. Praesent a dui non eros feugiat convallis. Integer luctus, sapien in dictum vehicula, ipsum lorem viverra eros, a tincidunt quam odio ac nulla. Curabitur ac turpis a odio maximus varius.
    </p>
  
    <div class="skill">
      <h4 class="skill-name">JavaScript</h4>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  
    <div class="skill">
      <h4 class="skill-name">Angular</h4>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <div class="skill">
        <h4 class="skill-name">MongoDB</h4>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>

    <div class="skill">
      <h4 class="skill-name">React</h4>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <div class="skill">
        <h4 class="skill-name">Problem Solving</h4>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
  

</div>
  

  
