<footer class="footer-container">
    <div class="footer-content text-center">
      <h3 class="footer-title">Contact Us</h3>
      
      <p class="footer-email">
        <a href="mailto:your.email@example.com">abdulrahman.sayed01&#64;gmail.com</a>
      </p>
      
      <div class="footer-social-media">
        <a href="https://facebook.com/yourprofile" target="_blank" class="social-link">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://github.com/AbdulrahmanHassan01" target="_blank" class="social-link">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://linkedin.com/in/yourprofile" target="_blank" class="social-link">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
    </div>
  </footer>  
