<div class="portfolio-container">
    <h2 class="portfolio-title text-center">My Portfolio</h2>
  
    <div class="projects">
      <div class="project-card dark-bg">
        <h3 class="project-title">Examination System</h3>
        <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
  
      <div class="project-card light-bg">
        <h3 class="project-title">Hospital Management Database</h3>
        <p class="project-description">Vivamus lacinia odio vitae vestibulum.</p>
      </div>
  
      <div class="project-card dark-bg">
        <h3 class="project-title">Image Processing</h3>
        <p class="project-description">Fusce nec justo sit amet tortor egestas convallis.</p>
      </div>
  
      <div class="project-card light-bg">
        <h3 class="project-title">Prolog Parser</h3>
        <p class="project-description">Praesent a dui non eros feugiat convallis.</p>
      </div>
  
      <div class="project-card dark-bg">
        <h3 class="project-title">Skin Cancer Classifier</h3>
        <p class="project-description">Integer luctus, sapien in dictum vehicula.</p>
      </div>
  
      <div class="project-card light-bg">
        <h3 class="project-title">HospitalHub</h3>
        <p class="project-description">Curabitur ac turpis a odio maximus varius.</p>
      </div>
    </div>
  </div>
  
