<div class="bio-container">
    <div class="bio-header text-center">
      <h2 class="bio-title">About Me</h2>
      <p class="bio-description">Hi, I'm Abdulrahman Hassan, a passionate software developer with a love for creating innovative solutions. Here's a bit more about my background.</p>
    </div>
  
    <div class="bio-content">
      <section class="education">
        <h5>Education</h5>
        <ul>
            <li class="list-item">STEM High School for Boys- 6th October</li>
            <li class="list-item">Faculty of Engineering, Ain Shams University</li>
            <li class="list-item">Bachelor's Degree, Computer Engineering and Software Systems</li>
        </ul>

      </section>
  
      <section class="experience">
        <h3>Experience</h3>
        <p>Software Developer at ABC Company</p>
        <h4>Work Experience</h4>
        <ul>
            <li>
                <h5>Sprints.ai, Cairo, Egypt</h5>
                <h6>Artificial Intelligence and Machine Learning Summer Intern</h6>
                <p>
                    <ul>
                        <li> Designed, validated, and deployed deep neural network data pipeline for image classification using ResNet
                            model architecture, leveraging transfer learning approach</li>
                        <li>Achieved 94% accuracy, surpassing 21 teams on Kaggle competition for natural scene recognition</li>
                    </ul>
            </li>

        </ul>
      </section>
  
      <a href="path/to/resume.pdf" class="resume-download btn btn-dark" download>Download My Resume <i class="fas fa-download"></i></a>
    </div>
  </div>
  
